<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">

  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <p>Para validar la identidad del cliente, el debera responderte a la siguiente pregunta:</p>
  </div>
  <div class="ion-text-start" style="height: 50%;">
    <br>
    <h6>{{pregunta}}</h6>
    <br/>
    <ion-input 
      label-placement="floating"
      label="Respuesta"
      fill="outline"
      placeholder="Respuesta"
      [(ngModel)]="campo"
    ></ion-input>
    <br />
    <ion-button 
      color="success" 
      expand="block"
      (click)="validarRespuesta()"
      >Continuar
    </ion-button>
    <br>
    <ion-button 
      color="danger" 
      expand="block"
      [routerLink]="['/soporte/menu-principal']"
      >Cancelar
    </ion-button>
  </div>
</ion-content>