<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <p>Ahora debes añadir la información<br>del recipe medico</p>
  </div>
  <div class="ion-text-start formulario" style="height: 50%;">
    <br/>
    <ion-input 
      label="¿Dónde te atendieron?" 
      label-placement="floating"
      fill="outline" 
      placeholder="Dirección"
      [(ngModel)]="direccion"
    ></ion-input>
    <br />
    <ion-input 
      label="¿Quién te atendió?" 
      label-placement="floating"
      fill="outline"
      placeholder="Dr. Nombre"
      [(ngModel)]="nombreDoctor"
    ></ion-input>
    <br/>
    <ion-input
      type="date"
      fill="outline"
      [(ngModel)]="fechaAtencion"
    ></ion-input>
    <br/>
    <ion-button 
      color="success" 
      expand="block"
      (click)="siguienteFormulario()"
      >Continuar
    </ion-button>
  </div>
  <div>
    <ion-button color="danger" [routerLink]="['/autocuidado/menu-principal']">Cancelar</ion-button>
  </div>
</ion-content>