<ion-menu></ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false">
  <ion-searchbar [debounce]="1000" color="light" class="custom"></ion-searchbar>
  <div class="contenedor">
    <div>
      <h3 class="titulo-seccion">Usuarios</h3>
    </div>

    <!--Loop que recorre la lista de usuarios en la base de datos-->

    <div class="alarma" *ngFor="let usuario of listaDeUsuarios;">
      <div class="info-alarma">
        <p class="titulo-alarma">{{usuario.nombre}}</p>
        <p class="texto-alarma">{{usuario.apellido_p}} {{usuario.apellido_m}}</p>
      </div>
      <ion-button class="boton-alarma" fill="clear" [routerLink]="['/soporte/pregunta-seguridad']">
        <ion-icon class="icono-boton-alarma" name="eye"></ion-icon>
      </ion-button>
    </div>
    
  </div>
</ion-content>
