<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--Contiene el perfil de usuario-->
  <ion-card
    style="background-color: #4C9BA2;"
  >
    <!--Foto de perfil de usuario-->
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <div class="contenedor-imagen">
          <img class="imagen-perfil" alt="imagen de usuario" src="https://cdn3.iconfinder.com/data/icons/business-vol-26/100/Artboard_2-1024.png"/>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    
    <ion-card-header>
      <ion-card-title>
        <ion-button (click)="hacerCamposVisibles" expand="block" color="secondary">
          Pulsa aqui para editar tus datos
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-input
        label="Nombre"
        label-placement="stacked"
        fill="solid"
        placeholder="{{nombre}}"
        disabled="true">
      </ion-input>
      <br>
      <ion-input
        label="Apellido paterno"
        label-placement="stacked"
        fill="solid"
        placeholder="{{apellidoP}}"
        disabled="true">
      </ion-input>
      <br>
      <ion-input
        label="Apellido materno"
        label-placement="stacked"
        fill="solid"
        placeholder="{{apellidoM}}"
        [disabled]="true">
      </ion-input>
      <br>
      <ion-input
        label="Telefono"
        label-placement="stacked"
        fill="solid"
        placeholder="{{telefono}}"
        [disabled]="true">
      </ion-input>
      <br>
      <ion-input
        label="Correo electronico"
        label-placement="stacked"
        fill="solid"
        placeholder="{{correo}}"
        [disabled]="true">
      </ion-input>
      <br>
      <ion-input
        label="Comuna de residencia"
        label-placement="stacked"
        fill="solid"
        placeholder="{{comuna}}"
        [disabled]="true">
      </ion-input>

    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col style="margin-left: 3px;">
      <ion-button expand="block">Contacto de emergencia</ion-button>
    </ion-col>
    <ion-col style="margin-right: 3px;">
      <ion-button expand="block">Seguimiento de medicamentos</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
