<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <h1 class="ion-text-bold">¡Regístrate!</h1>
    <p>¡Ya esta listo!<br>Ahora crea una contraseña para tu cuenta y responde la pregunta de seguridad.</p>
  </div>
  <div class="ion-text-start" style="height: 50%;">
    <br/>
    <ion-input 
      label="¿Cual es el nombre de tu primera mascota?" 
      label-placement="stacked"
      fill="outline" 
      type="password"
      placeholder="Ingrese una respuesta"
      [(ngModel)]="pregunta"
    ></ion-input>
    <br/>
    <ion-input 
      label="Contraseña" 
      label-placement="floating"
      fill="outline" 
      type="password"
      placeholder="Enter text"
      [(ngModel)]="password"
    ></ion-input>
    <br />
    <ion-input 
      label="Confirmar contraseña" 
      label-placement="floating"
      fill="outline"
      type="password" 
      placeholder="Enter text"
      [(ngModel)]="confirmPassword"
    ></ion-input>
    <ul class="info-text">
      <li>Debe tener mínimo 8 caracteres de largo</li>
      <li>Debe tener al menos un caracter especial</li>
      <li>Debe tener al menos una letra en mayuscula</li>
      <li>Debe tener al menos un numero</li>
    </ul>
    <ion-button 
      color="primary" 
      expand="block"
      (click)="siguienteFormulario()"
      >Continuar
    </ion-button>
  </div>
  <div>
    <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
  </div>
</ion-content>