<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <h1 class="ion-text-bold">¡Regístrate!</h1>
    <p>¡Ya esta listo!<br>Ahora crea una contraseña para tu cuenta</p>
  </div>
  <div class="ion-text-start" style="height: 50%;">
    <br/>
    <ion-input 
      label="Contraseña" 
      label-placement="floating"
      fill="outline" 
      type="password"
      placeholder="Enter text"
      [(ngModel)]="password"
    ></ion-input>
    <br />
    <ion-input 
      label="Confirmar contraseña" 
      label-placement="floating"
      fill="outline"
      type="password" 
      placeholder="Enter text"
      [(ngModel)]="confirmPassword"
    ></ion-input>
    <ul>
      <li>1. Debe tener mínimo 8 caracteres de largo.</li>
      <li>2. Debe tener al menos un caracter alfanumericos</li>
      <li>3. Debe tener al menos una letra en Mayuscula</li>
      <li>4. Debe tener al menos un numero</li>
    </ul>
    <ion-button 
      color="primary" 
      expand="block"
      (click)="siguienteFormulario()"
      >Continuar
    </ion-button>
  </div>
  <div>
    <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
    <ul>
      <li *ngIf="nuevoUsuario.rol === 'cliente'">Cliente: {{ nuevoUsuario | json }}</li>
    </ul>
  </div>
</ion-content>