<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <h1 class="ion-text-bold">¡Regístrate!</h1>
    <p>Ingresa aquí tu información de contacto</p>
  </div>

  <div class="ion-text-start">
    <br/>
    <ion-input 
      label="Nombre" 
      label-placement="floating"
      fill="outline" 
      placeholder="Enter text"
      [(ngModel)]="nombre"
    ></ion-input>
    <br />
    <ion-input 
      label="Apellido Paterno" 
      label-placement="floating"
      fill="outline" 
      placeholder="Enter text"
      [(ngModel)]="apellido_p"
    ></ion-input>
    <p style="color: rgba(177, 177, 177, 0.884);">  - Este campo es opcional</p>
    <ion-input 
      label="Apellido Materno" 
      label-placement="floating"
      fill="outline" 
      placeholder="Enter text"
      [(ngModel)]="apellido_m"
    ></ion-input>
    <br />
    <ion-button 
      color="primary" 
      expand="block"
      (click)="siguienteFormulario()"
      >Continuar
    </ion-button>
  </div>
  <div style="margin-top: 25px;">
    <a [routerLink]="['/login']"><p>¿Ya tienes una cuenta?</p></a>
  </div>
</ion-content>
