<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicio de ubicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">


  <img
  src="../../../assets/icon/logo.webp"
  alt="Logo Farmapp"
  style="height: 250px;">
  <div>
    <h1 class="ion-text-bold">Buscar farmacias cercanas</h1>
    <p>Ingresa tu direccion actual y te mostraremos farmacias a tu alrededor.</p>
  </div>

  <div class="ion-text-start" style="margin-top: 50px;">
    <ion-input 
    label="direccion" 
    label-placement="stacked"
    fill="outline" 
    placeholder="Tu direccion (Casa o dpto.)">
      <ion-icon name="location-outline" slot="end" size="large" color="secondary"></ion-icon>
    </ion-input>

    <ion-button
    color="primary" 
    expand="block"
    style="margin-top: 25px"
    [routerLink]="['/mapa']">
      Continuar
    </ion-button>
  </div>


</ion-content>
