<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../assets/icon/logo.webp" alt="Logo Farmapp" style="min-height: 30%; max-height: 30%;">  
  <div>
    <h4 class="ion-text-bold">¿Has olvidado tu contraseña?</h4>
    <p>No te preocupes, ingresa aqui el correo electronico de tu cuenta y te enviaremos un codigo de recuperación</p>
  </div>
  <div *ngIf="!enviado" class="ion-text-start">
    <ion-input 
      label="Correo de recuperación" 
      label-placement="floating"
      type="email" 
      fill="outline" 
      placeholder="Email"
      [(ngModel)]="emailRecuperacion"
    ></ion-input>
    <br />
    <ion-button 
      color="primary" 
      expand="block"
      (click)="recuperarPassword()"
      >Enviar Correo
    </ion-button>
  </div>
  <div *ngIf="enviado" class="ion-text-start">
    <ion-input 
      label="Código de Recuperación" 
      label-placement="floating"
      type="number" 
      fill="outline" 
      placeholder="Código"
      [(ngModel)]="codigoRecuperacion"
    ></ion-input>
    <br />
    <ion-button 
      color="primary" 
      expand="block"
      (click)="validarCodigo()"
      >Validar Código
    </ion-button>
  </div>
  <br>
  <span (click)="enviado = !enviado" *ngIf="enviado" style="text-decoration: underline;">¿Te equivocaste de email?</span>
  <br>
  <br>
  <span [routerLink] ="['/login']" style="text-decoration: underline;" color="danger">Cancelar</span>
</ion-content>