<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="calendario">
    <h4 class="dia">L</h4>
    <h4 class="dia">M</h4>
    <h4 class="dia">X</h4>
    <h4 class="dia">J</h4>
    <h4 class="dia">V</h4>
    <h4 class="dia">S</h4>
    <h4 class="dia">D</h4>
    <div id="selector-dia"></div>
  </div>


  <div id="contenedor-alarmas">
    <div class="contenedor-ribete">
      <img class="ribete" src="../../../assets/images/ribete.png" alt="Ribete">
      <h1 class="mensaje-ribete">Proximas alarmas</h1>
    </div>


    <div class="alarma">

      <div class="datos-medicamento">
        <h2 class="nombre-medicamento">Losartan</h2>
        <p class="cantidad-medicamento">50mg</p>
      </div>

      <div class="hora-medicamento">
        <h2>10:30</h2>
      </div>
      
    </div>

  </div>

  <ion-button 
    color="primary" 
    expand="block"
    >Continuar
  </ion-button>
</ion-content>
