<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="margin: 2%;">Menu principal</ion-title>

    <!--Calendario parte superior interactuable-->
    <div id="contenedor-calendario">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-button class="dia">L</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">M</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">X</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">J</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">V</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">S</ion-button>
          </ion-col>
    
          <ion-col>
            <ion-button class="dia">D</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <!--Fondo, ribete y titulo de la seccion-->
  <div id="contenedor-alarmas">
    <img class="ribete" src="../../../assets/images/ribete.png" alt="Ribete">
    <h1 class="mensaje-ribete">Proximas alarmas</h1>

    <!--Iterador de alarmas registradas-->
    <div *ngFor="let alarma of alarmas">

      <ion-card button="true" style="background-color: rgb(255, 255, 255, 0.9);">
        <ion-card-header>
          <ion-row>
            <ion-card-title class="alarma" style="width: 70%; padding-top: 5%;">
              {{alarma.medicamento}}
  
            </ion-card-title>

            <ion-card-title style="width: 30%; padding-top: 5%;">
              {{alarma.hora}}
  
            </ion-card-title>
  
          </ion-row>
          <ion-card-subtitle>{{alarma.dosis}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

    </div>

  </div>

  <!--Boton para agregar alarmas-->
  <ion-button class="boton" expand="block">
    Agregar alarma
    <ion-icon name="add-circle-outline" aria-hidden="true"></ion-icon>
  </ion-button>


</ion-content>
