<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable="true" value="{{diaSeleccionado}}" (ionChange)="cambioDia($event)" >
      <ion-segment-button value=0>
        <ion-label>D</ion-label>
      </ion-segment-button>
      <ion-segment-button value=1>
        <ion-label>L</ion-label>
      </ion-segment-button>
      <ion-segment-button value=2>
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value=3>
        <ion-label>X</ion-label>
      </ion-segment-button>
      <ion-segment-button value=4>
        <ion-label>J</ion-label>
      </ion-segment-button>
      <ion-segment-button value=5>
        <ion-label>V</ion-label>
      </ion-segment-button>
      <ion-segment-button value=6>
        <ion-label>S</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="min-height: 85%;">

  <div id="detalle-alarma" *ngIf="verAlarma" color="secondary">
    <h4 style="text-align: center; color: white; font-weight: bolder; background-color: #387185; padding: 2%;">Detalles de alarma</h4>
    <ion-row style="margin-top: 10%;">
      <ion-col style="width: 5%;"></ion-col>
      <ion-col style="width: 90%;">
        <ion-datetime presentation="time" [preferWheel]="true" style="border-radius: 10%;"></ion-datetime>
      </ion-col>
      <ion-col style="width: 5%;"></ion-col>
    </ion-row>
    <div>
      <ion-input
        style="width: 90%; margin-left: 5%; margin-top: 5%;"
        label="Nombre medicamento"
        label-placement="stacked"
        fill="solid"
        placeholder="Remedio">
      </ion-input>
    </div>
    <div>
      <ion-input
        style="width: 90%; margin-left: 5%; margin-top: 5%;"
        label="Dosis medicamento"
        label-placement="stacked"
        fill="solid"
        placeholder="500mg">
      </ion-input>
    </div>
    <br>
    <ion-row>
      <ion-col>
        <ion-button
        color="secondary"
        expand="block"
        (click)="verDetalles()"
        style="height: 80%; margin-left: 9%;">
          Volver
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          color="success" 
          expand="block"
          (click)="verDetalles()"
          style="height: 80%; margin-right: 9%;">
            Guardar cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </div>


  <div class="contenedor">
    <div>
      <h3 class="titulo-seccion">Proximas Alarmas</h3>
    </div>

    <div class="alarma" *ngFor="let alarma of alarmas">
      <div class="info-alarma">
        <p class="titulo-alarma">{{alarma.medicamentoNombre}}</p>
        <p class="texto-alarma">{{alarma.indicacionDosis}}gr</p>
        <p class="texto-alarma">{{alarma.status | statusAlarma}}</p>
      </div>
      <div class="info-hora">
        <p class="texto-hora">{{alarma.fecha_hora | tiempoAlarma}}</p>
      </div>
      <ion-button (click)="verDetalles()" class="boton-alarma" fill="clear">
        <ion-icon class="icono-boton-alarma" name="eye"></ion-icon>
      </ion-button>
    </div>
      
  </div>
  <div class="boton-añadir">
    <ion-row>
      <ion-col style="max-width: 25%;"></ion-col>
      <ion-col style="max-width: 75%;">
        <ion-button size="large" (click)="nuevaAlarma()">Añadir Alarma
          <ion-icon name="add-circle-outline" slot="end" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="max-width: 25%;"></ion-col> 

    </ion-row>
  </div>
</ion-content>
