<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable="true" value="{{diaSeleccionado}}" (ionChange)="cambioDia($event)" >
      <ion-segment-button value=0>
        <ion-label>D</ion-label>
      </ion-segment-button>
      <ion-segment-button value=1>
        <ion-label>L</ion-label>
      </ion-segment-button>
      <ion-segment-button value=2>
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value=3>
        <ion-label>X</ion-label>
      </ion-segment-button>
      <ion-segment-button value=4>
        <ion-label>J</ion-label>
      </ion-segment-button>
      <ion-segment-button value=5>
        <ion-label>V</ion-label>
      </ion-segment-button>
      <ion-segment-button value=6>
        <ion-label>S</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="min-height: 75%;">

  <!--Modal detalles de alarma-->
  <div id="conetendor-modal">
    <ion-modal [isOpen]="viendoDetalles">
      <ng-template>
        <div style="background-color: #4C9BA2; text-align: center;">
          <h3 style="font-weight: bold; margin-top: 5%; margin-bottom: 5%;">Detalles de alarma</h3>
        </div>
        
        <h6 style="margin-left: 5%;">Nombre del medicamento</h6>
        <ion-input
        style="max-width: 90%; margin-left: 5%; margin-top: -5%;"
          label="Nombre del medicamento"
          label-placement="stacked"
          fill="solid"
          value="{{alarmaSeleccionada.medicamentoNombre}}"
          [readonly]="true">
        </ion-input>

        <h6 style="margin-left: 5%;">Dosis del medicamento</h6>
        <ion-input
        style="max-width: 90%; margin-left: 5%; margin-top: -5%;"
          label="Dosis del medicamento"
          label-placement="stacked"
          fill="solid"
          value="{{alarmaSeleccionada.indicacionDosis}}"
          [readonly]="true">
        </ion-input>

        <h6 style="margin-left: 5%;">Horas de toma del medicamento</h6>
        <ion-input
        style="max-width: 90%; margin-left: 5%; margin-top: -5%;"
          label="Horas de toma del medicamento"
          label-placement="stacked"
          fill="solid"
          value="{{alarmaSeleccionada.fecha_hora | tiempoAlarma}}"
          [readonly]="true">
        </ion-input>

        <h6 style="margin-left: 5%;">Estado del medicamento</h6>
        <ion-input
        style="max-width: 90%; margin-left: 5%; margin-top: -5%;"
          label="Estado del medicamento"
          label-placement="stacked"
          fill="solid"
          value="{{alarmaSeleccionada.status}}"
          [readonly]="true">
        </ion-input>

        <!--Botones del modal-->
        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" color="success" style="min-height: 50px;" (click)="marcarAlarmaTomada(alarmaSeleccionada.id_alarma)">Marcar como tomada</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button expand="block" size="large" style="min-height: 50px;" (click)="verDetalles(alarmaSeleccionada.id_alarma)">Volver</ion-button>
          </ion-col>
        </ion-row>
      </ng-template>
    </ion-modal>

      
  </div>


  <div class="contenedor">
    <div>
      <h3 class="titulo-seccion">Proximas Alarmas</h3>
    </div>

    <div class="alarma" *ngFor="let alarma of alarmas">
      <div class="info-alarma">
        <p class="titulo-alarma">{{alarma.medicamentoNombre}}</p>
        <p class="texto-alarma">{{alarma.indicacionDosis}}gr</p>
        <p class="texto-alarma">{{alarma.status | statusAlarma}}</p>
      </div>
      <div class="info-hora">
        <p class="texto-hora">{{alarma.fecha_hora | tiempoAlarma}}</p>
      </div>
      <ion-button (click)="verDetalles(alarma.id_alarma)" class="boton-alarma" fill="clear">
        <ion-icon class="icono-boton-alarma" name="eye"></ion-icon>
      </ion-button>
    </div>
      
  </div>
  <div class="boton-añadir">
    <ion-row>
      <ion-col style="max-width: 25%;"></ion-col>
      <ion-col style="max-width: 75%;">
        <ion-button size="large" (click)="nuevaAlarma()">Añadir Alarma
          <ion-icon name="add-circle-outline" slot="end" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="max-width: 25%;"></ion-col> 

    </ion-row>
  </div>
</ion-content>
