<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">

  <img src="../../../assets/icon/logo.webp" alt="Logo Farmapp" style="min-height: 30%; max-height: 30%;">  
  <div>
    <h1 class="ion-text-bold">¡Inicia sesión!</h1>
    <p>Ingresa tus datos para acceder a tu perfil</p>
  </div>

  <div class="ion-text-start">
    <br/>
    <ion-input 
      label="Correo electronico" 
      label-placement="floating"
      type="email" 
      fill="outline" 
      placeholder="email"
      errorText="Correo invalido"
      [(ngModel)]="email"
    ></ion-input>
    <br />
    <ion-input 
      label="Contraseña" 
      label-placement="floating"
      type="password" 
      fill="outline" 
      placeholder="password"
      [(ngModel)]="password"
    ></ion-input>
    <br />
    <ion-button 
      color="primary" 
      expand="block"
      (click)="validarLogin()"
      >Continuar
    </ion-button>
  </div>


  <div style="margin-top: 25px;">
    <a [routerLink]="['/registro-nombre']"><p>¿No tienes una cuenta?</p></a>
    <a [routerLink]=""><p>¿Necesitas ayuda? Llamar al soporte</p></a>
  </div>
</ion-content>
