<ion-app>
  <!-- Menu para Autocuidado -->
  <ion-menu-toggle>
    <ion-menu side="end" menuId="autocuidado" contentId="autocuidado-content">
      <ion-header>
        <ion-toolbar class="ion-text-center">
          <ion-title>Farmapp</ion-title>
          <!-- <ion-icon name="fitness"></ion-icon> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item [routerDirection]="'root'" [routerLink]="'/autocuidado/menu-principal'">
            <ion-icon name="alarm"></ion-icon>
            <ion-label>Listado de Alarmas</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/autocuidado/buscar-farmacia'">
            <ion-icon name="storefront"></ion-icon>
            <ion-label>Farmacias cercanas</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/autocuidado/perfil'">
            <ion-icon name="person"></ion-icon>
            <ion-label>Mi perfil</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/login'">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>

  <!-- Menu para soporte -->
  <ion-menu-toggle>
    <ion-menu side="end" menuId="soporte" contentId="soporte-content">
      <ion-header>
        <ion-toolbar class="ion-text-center">
          <ion-title>Farmapp</ion-title>
          <!-- <ion-icon name="fitness"></ion-icon> -->
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item [routerDirection]="'root'" [routerLink]="'/soporte/menu-principal'">
            <ion-icon name="home"></ion-icon>
            <ion-label>Listado de Usuarios</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/soporte/perfil'">
            <ion-icon name="person"></ion-icon>
            <ion-label>Mi perfil</ion-label>
          </ion-item>
          <ion-item [routerDirection]="'root'" [routerLink]="'/login'">
            <ion-icon name="log-out"></ion-icon>
            <ion-label>Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  </ion-menu-toggle>

  <ion-router-outlet id="autocuidado-content"></ion-router-outlet>
  <ion-router-outlet id="soporte-content"></ion-router-outlet>
</ion-app>
