<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <p>En este apartado se ingresa <br> la nueva contraseña para el cliente</p>
  </div>
  <div class="ion-text-start" style="height: 50%;">
    <br/>
    <ion-input 
      label="Contraseña" 
      label-placement="floating"
      fill="outline" 
      type="password"
      placeholder="Enter text"
      [(ngModel)]="password"
    ></ion-input>
    <br />
    <ion-input 
      label="Confirmar contraseña" 
      label-placement="floating"
      fill="outline"
      type="password" 
      placeholder="Enter text"
      [(ngModel)]="confirmPassword"
    ></ion-input>
    <ul class="info-text">
      <li>Debe tener mínimo 8 caracteres de largo</li>
      <li>Debe tener al menos un caracter especial</li>
      <li>Debe tener al menos una letra en mayuscula</li>
      <li>Debe tener al menos un numero</li>
    </ul>
    <ion-button 
      color="primary" 
      expand="block"
      (click)="cambiarPassword()"
      >Continuar
    </ion-button>
  </div>
</ion-content>