<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">

  <div id="detalle-alarma" *ngIf="verAlarma" color="secondary">
    <h4 style="text-align: center; color: white; font-weight: bolder; background-color: #387185; padding: 2%;">Detalles de alarma</h4>
    <ion-row style="margin-top: 10%;">
      <ion-col style="width: 5%;"></ion-col>
      <ion-col style="width: 90%;">
        <ion-datetime presentation="time" [preferWheel]="true" style="border-radius: 10%;"></ion-datetime>
      </ion-col>
      <ion-col style="width: 5%;"></ion-col>
    </ion-row>

    <div>
      <ion-input
          style="width: 90%; margin-left: 5%; margin-top: 5%; text-align: left;"
          label="Nombre medicamento"
          label-placement="stacked"
          fill="solid"
          placeholder="Remedio">
          </ion-input>
    </div>

    <div>
      <ion-input
          style="width: 90%; margin-left: 5%; margin-top: 5%; text-align: left;"
          label="Dosis medicamento"
          label-placement="stacked"
          fill="solid"
          placeholder="500mg">
          </ion-input>
    </div>
    <br>
    <ion-row>
      <ion-col>
        <ion-button
        color="secondary"
        expand="block"
        (click)="verDetalles()"
        style="height: 80%; margin-left: 9%;">
          Volver
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          color="success" 
          expand="block"
          (click)="verDetalles()"
          style="height: 80%; margin-right: 9%;">
            Guardar cambios
        </ion-button>
      </ion-col>
    </ion-row>

  </div>

  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div class="ion-text-start formulario" style="height: 50%;">
    <div class="contenedor">
      <div>
        <h4 class="titulo-seccion">Nuevas Alarmas</h4>
      </div>
      <div class="alarma">
        <div class="info-alarma">
          <p class="titulo-alarma">{{recipe.tratamiento.nombreMedicamento}}</p>
          <p class="texto-alarma">{{recipe.tratamiento.cantidadMedicamento + "g"}}</p>
        </div>
        <div class="info-hora">
          <p class="texto-hora">12:30</p>
        </div>
        <ion-button class="boton-alarma" fill="clear" (click)="verDetalles()">
          <ion-icon class="icono-boton-alarma" name="eye"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>



  <div>
    <ion-button 
      color="primary" 
      expand="block"
      [routerLink]="['/autocuidado/alarma-medicamento']"
      >Añadir otro medicamento
    </ion-button>
    <ion-button 
      color="success" 
      expand="block"
      [routerLink]="['/autocuidado/menu-principal']"
      >Continuar
    </ion-button>
  </div>
</ion-content>