.div-botones {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

ion-button {
    max-width: 250px;
}

p {
    text-align: center;
    font-size: large;
}