<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <p>Ahora añadiras las indicaciones del Medicamento</p>
  </div>
  <div class="ion-text-start formulario" style="height: 40%;">
    <br/>
    <ion-select 
      label="Medicamento" 
      label-placement="floating"
      fill="outline"
      interface="popover"
      (ionChange)="obtenerMedicamento($event)">
      <ion-select-option 
        *ngFor="let medicamento of listaMedicamentos" 
        value="{{medicamento.idMedicamento}}"
        >{{medicamento.nombreMedicamento}}
      </ion-select-option>
    </ion-select>
    <br/>
    <ion-input 
      label="¿Cuántos días debes tomarlo?" 
      label-placement="floating"
      fill="outline"
      type="number"
      placeholder="Nr días"
      [(ngModel)]="diasMedicamento"
    ></ion-input>
    <br/>
    <ion-input 
      label="¿Cuántos gramos debe tomar?" 
      label-placement="floating"
      fill="outline"
      type="number"
      placeholder="100g"
      [(ngModel)]="cantidadMedicamento"
    ></ion-input>
    <br/>
    <ion-input 
      label="¿Cada cuantas horas?" 
      label-placement="floating"
      fill="outline" 
      type="number"
      placeholder="Medicamento"
      [(ngModel)]="horasMedicamento"
    ></ion-input>
    <br/>
    <ion-input
      label="Fecha de inicio tratamiento"
      label-placement="floating"
      fill="outline"
      type="datetime-local"
      [(ngModel)]="fechaInicio"
    ></ion-input>
    <br>
    <ion-button 
      color="success" 
      expand="block"
      (click)="registrarIndicacion()"
      >Continuar
    </ion-button>
    <br>
    <ion-button 
      color="danger"
      expand="block" 
      [routerLink]="['/autocuidado/menu-principal']"
      >Cancelar
    </ion-button>
  </div>
</ion-content>