<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <img src="../../../../assets/icon/logo.webp" alt="Logo Farmapp" style="height: 30%;">  
  <div>
    <h1 class="ion-text-bold">¡Regístrate!</h1>
    <p>Ingresa aquí tu información de contacto</p>
  </div>
  <div class="ion-text-start formulario" style="height: 50%;">
    <br/>
    <ion-input 
      label="¿Numero teléfono?" 
      label-placement="floating"
      fill="outline" 
      placeholder="Nr teléfono"
      [(ngModel)]="numTelefono"
    ></ion-input>
    <br />
    <ion-input 
      label="¿Correo electrónico?" 
      label-placement="floating"
      fill="outline"
      placeholder="Email"
      [(ngModel)]="email"
    ></ion-input>
    <br/>
    <ion-button 
      color="success" 
      expand="block"
      (click)="siguienteFormulario()"
      >Continuar
    </ion-button>
  </div>
  <div>
    <ion-button color="danger">Cancelar</ion-button>
  </div>
</ion-content>